
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 20px;
    border-radius: 5px;
    display: inline-block;
  }
  .contentbody {
      margin: 20px 40px;
      background-color: white;
      border-radius: 10px;
  }

  .instances {
      padding: 10px;
      text-align: center;
      color: white;
      background-color: darkslategrey;
  }

  .instances h4 {
      display: inline-block;
  }
  .instances span {
    float: right;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
}

    #customers span{
        font-size: 15px;
    }
